
@{
    ViewBag.Title = "CacheTest";
}

<h2>CacheTest</h2>
<p>DateTime now is @DateTime.Now.ToString()</p>
<br/>
<p>Data Cache Value @ViewBag.DataCache</p>

<br/>
<p>Partial view down</p>
@Html.Partial("CacheProfileTest")
